alexawebhookflow.json
[{"id":"86f4a691.c6622","type":"http in","z":"982e5da6.ef0d6","name":"Alexa request","url":"/alexa","method":"post","upload":false,"swaggerDoc":"","x":132.1358642578125,"y":95.13043212890625,"wires":[["4622a1f0.7e0fc8","14cadb94.51b2b4"]]},{"id":"4622a1f0.7e0fc8","type":"switch","z":"982e5da6.ef0d6","name":"Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":180,"y":200,"wires":[["7f1db84a.5b8f68"],["58deb2b9.525b24"],["8a8a1474.abed38"]]},{"id":"355024d9.555bdc","type":"template","z":"982e5da6.ef0d6","name":"Format response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"response\": {\n        \"outputSpeech\": {\n          \"type\": \"SSML\",\n          \"ssml\": \"<speak><voice name='Matthew'><lang xml:lang='en-US'>{{payload.output.generic.0.text}}</lang></voice></speak>\"\n    },\n    \"shouldEndSession\": false\n  }\n}","output":"str","x":391.50000381469727,"y":441.2500276565552,"wires":[["69178d4.1cdbc74"]]},{"id":"69178d4.1cdbc74","type":"json","z":"982e5da6.ef0d6","name":"","property":"payload","action":"","pretty":false,"x":583.9999694824219,"y":441.2500286102295,"wires":[["3b499ba2.da8814","3aee5854.f0b388"]]},{"id":"3b499ba2.da8814","type":"http response","z":"982e5da6.ef0d6","name":"","statusCode":"","headers":{},"x":778.2499771118164,"y":442.7500457763672,"wires":[]},{"id":"58deb2b9.525b24","type":"switch","z":"982e5da6.ef0d6","name":"Intents","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"EveryThingIntent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":200,"wires":[["abc726da.712948"]]},{"id":"abc726da.712948","type":"function","z":"982e5da6.ef0d6","name":"Set Message","func":"msg.params = \"\";\nmsg.payload = msg.payload.request.intent.slots.EveryThingSlot.value;\nvar session_id = flow.get('session_id');\nmsg.params = { \"session_id\" : session_id };\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["caf50ce7.c2bfb","33ade971.f04736"]]},{"id":"3aee5854.f0b388","type":"debug","z":"982e5da6.ef0d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":756.8749771118164,"y":516.6305084228516,"wires":[]},{"id":"caf50ce7.c2bfb","type":"watson-assistant-v2","z":"982e5da6.ef0d6","name":"Alexabot","default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","assistant_id":"fba3327c-e1ed-47cb-a9fe-4c15f33bf430","debug":false,"restart":true,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":720,"y":200,"wires":[["eef6e8b7.58708","d30f6ac8.e13ac8"]]},{"id":"eef6e8b7.58708","type":"debug","z":"982e5da6.ef0d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":160,"wires":[]},{"id":"d30f6ac8.e13ac8","type":"switch","z":"982e5da6.ef0d6","name":"Check for error","property":"watsonerror","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":340,"wires":[["a04e70f6.c6571"],["66b674cb.8749f4"]]},{"id":"3b97fb40.530a54","type":"debug","z":"982e5da6.ef0d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":320,"wires":[]},{"id":"66b674cb.8749f4","type":"function","z":"982e5da6.ef0d6","name":"Store session_id","func":"flow.set('session_id',msg.payload.session_id);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["355024d9.555bdc","81b0d718.71f298"]]},{"id":"81b0d718.71f298","type":"debug","z":"982e5da6.ef0d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":360,"wires":[]},{"id":"33ade971.f04736","type":"debug","z":"982e5da6.ef0d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":100,"wires":[]},{"id":"a04e70f6.c6571","type":"function","z":"982e5da6.ef0d6","name":"Set Message","func":"msg.params = {};\nflow.set('session_id','');\nmsg.watsonerror = {};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["caf50ce7.c2bfb","3b97fb40.530a54"]]},{"id":"14cadb94.51b2b4","type":"debug","z":"982e5da6.ef0d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":40,"wires":[]},{"id":"7f1db84a.5b8f68","type":"function","z":"982e5da6.ef0d6","name":"Set Message","func":"msg.params = \"\";\nmsg.payload = \"Hello\";\nvar session_id = flow.get('session_id');\nmsg.params = { \"session_id\" : session_id };\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["caf50ce7.c2bfb"]]},{"id":"8a8a1474.abed38","type":"http response","z":"982e5da6.ef0d6","name":"","statusCode":"","headers":{},"x":350,"y":240,"wires":[]}]
