weatherserviceflow.json
[{"id":"d31171ec.525d8","type":"inject","z":"99ccebf8.7ac5b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["64e7338f.df59fc"]]},{"id":"e64f8c7c.3f817","type":"comment","z":"99ccebf8.7ac5b8","name":"https://callforcode.weather.com","info":"Register","x":170,"y":80,"wires":[]},{"id":"8722839c.bd58d","type":"function","z":"99ccebf8.7ac5b8","name":"Set Headers","func":"msg.headers = {};\n//msg.query = \"33.40/-83.42/forecast/daily/3day.json\";\nmsg.headers['Accept-Encoding'] = 'gzip';\n//msg.headers['User-Agent'] = 'Mozilla/5.0';\n//msg.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3';\n// msg.params = {\"apiKey\":\"YOUR_WEATHER_APIKEY\"};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["e8c97269.0da55","259637ef.c455d8"]]},{"id":"91bca7e2.117478","type":"comment","z":"99ccebf8.7ac5b8","name":"You Have to install - npm install node-red-contrib-gzip","info":"","x":240,"y":120,"wires":[]},{"id":"6c5cfea5.055d5","type":"comment","z":"99ccebf8.7ac5b8","name":"Sample for Call for Code weather with Node-RED","info":"","x":220,"y":40,"wires":[]},{"id":"ed677609.52cdf8","type":"debug","z":"99ccebf8.7ac5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":280,"wires":[]},{"id":"e6f46b3c.9dfce8","type":"inject","z":"99ccebf8.7ac5b8","name":"Location","topic":"","payload":"Aalst","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["9c40d916.34f5c8"]]},{"id":"b6481ba5.5e85b8","type":"change","z":"99ccebf8.7ac5b8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["8308cf2c.d0dfb"]]},{"id":"8308cf2c.d0dfb","type":"http request","z":"99ccebf8.7ac5b8","name":"API Geocoding","method":"GET","ret":"obj","paytoqs":false,"url":"https://nominatim.openstreetmap.org/search/{{{query}}}?format=json&addressdetails=1&limit=1","tls":"","proxy":"","authType":"","x":700,"y":220,"wires":[["e6bd36f3.82f808"]]},{"id":"e8c97269.0da55","type":"debug","z":"99ccebf8.7ac5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":400,"wires":[]},{"id":"9c40d916.34f5c8","type":"function","z":"99ccebf8.7ac5b8","name":"Set Headers","func":"msg.headers = {};\nmsg.headers['User-Agent'] = 'NodeRed';\n//msg.headers['Accept'] = 'application/json';\n// msg.params = {\"apiKey\":\"YOUR_WEATHER_APIKEY\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["b6481ba5.5e85b8"]]},{"id":"259637ef.c455d8","type":"http request","z":"99ccebf8.7ac5b8","name":"API Weather.com","method":"GET","ret":"bin","paytoqs":false,"url":"https://api.weather.com/v1/geocode/{{{lat}}}/{{{lon}}}/forecast/daily/3day.json?units=m&apiKey=<yourKey>","tls":"","proxy":"","authType":"","x":650,"y":340,"wires":[["ef453694.cad088"]]},{"id":"ef453694.cad088","type":"gzip","z":"99ccebf8.7ac5b8","name":"","x":810,"y":340,"wires":[["79bf5b7d.78c974"]]},{"id":"79bf5b7d.78c974","type":"json","z":"99ccebf8.7ac5b8","name":"","property":"payload","action":"","pretty":false,"x":930,"y":340,"wires":[["7fb3ac64.5d1114","ed677609.52cdf8"]]},{"id":"e6bd36f3.82f808","type":"change","z":"99ccebf8.7ac5b8","name":"set lat/lon","rules":[{"t":"set","p":"lat","pt":"msg","to":"payload[0].lat","tot":"msg"},{"t":"set","p":"lon","pt":"msg","to":"payload[0].lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":220,"wires":[["8722839c.bd58d","b8feb9dc.c5e5c8"]]},{"id":"64e7338f.df59fc","type":"change","z":"99ccebf8.7ac5b8","name":"set lat/lon","rules":[{"t":"set","p":"lat","pt":"msg","to":"50.9383226","tot":"str"},{"t":"set","p":"lon","pt":"msg","to":"4.0392147","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":340,"wires":[["8722839c.bd58d"]]},{"id":"14d390bb.d4af2f","type":"http in","z":"99ccebf8.7ac5b8","name":"","url":"/getWeather","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["be76ecab.04732"]]},{"id":"ce73db93.d6bcd8","type":"http response","z":"99ccebf8.7ac5b8","name":"","statusCode":"","headers":{},"x":1270,"y":340,"wires":[]},{"id":"be76ecab.04732","type":"function","z":"99ccebf8.7ac5b8","name":"Set param","func":"msg.payload = msg.req.query.location;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["9c40d916.34f5c8","288bf819.bc7528"]]},{"id":"288bf819.bc7528","type":"debug","z":"99ccebf8.7ac5b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":160,"wires":[]},{"id":"7fb3ac64.5d1114","type":"function","z":"99ccebf8.7ac5b8","name":"Select forecast","func":"msg.payload = msg.payload.forecasts[0].narrative;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":340,"wires":[["ce73db93.d6bcd8"]]}]
