weatherserviceflow.json
[{"id":"fa07a2ce.b11aa","type":"tab","label":"WeatherService","disabled":false,"info":""},{"id":"bb9dd7fd.e55e48","type":"inject","z":"fa07a2ce.b11aa","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["671d678d.10cc18"]]},{"id":"451ac63a.6b8c58","type":"comment","z":"fa07a2ce.b11aa","name":"https://openweathermap.org","info":"Register","x":180,"y":160,"wires":[]},{"id":"c91dfe6f.6c03f","type":"function","z":"fa07a2ce.b11aa","name":"Set Headers","func":"msg.headers = {};\n//msg.query = \"33.40/-83.42/forecast/daily/3day.json\";\n//msg.headers['Accept-Encoding'] = 'gzip';\n//msg.headers['User-Agent'] = 'Mozilla/5.0';\n//msg.headers['Accept'] = 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3';\n// msg.params = {\"apiKey\":\"YOUR_WEATHER_APIKEY\"};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["d22105f.96b16f8"]]},{"id":"2d87591.c492fa6","type":"comment","z":"fa07a2ce.b11aa","name":"Sample for weather with Node-RED","info":"","x":200,"y":120,"wires":[]},{"id":"2627fc4f.8d7cf4","type":"debug","z":"fa07a2ce.b11aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":360,"wires":[]},{"id":"d38769ef.1e5d18","type":"inject","z":"fa07a2ce.b11aa","name":"Location","topic":"","payload":"Brussels","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["1d91b269.c414de"]]},{"id":"4f89b375.032eac","type":"change","z":"fa07a2ce.b11aa","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["16032f15.057401"]]},{"id":"16032f15.057401","type":"http request","z":"fa07a2ce.b11aa","name":"API Geocoding","method":"GET","ret":"obj","paytoqs":false,"url":"https://nominatim.openstreetmap.org/search/{{{query}}}?format=json&addressdetails=1&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":300,"wires":[["fd941cb8.baa17"]]},{"id":"3fe25acd.91f276","type":"debug","z":"fa07a2ce.b11aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":500,"wires":[]},{"id":"1d91b269.c414de","type":"function","z":"fa07a2ce.b11aa","name":"Set Headers","func":"msg.headers = {};\nmsg.headers['User-Agent'] = 'NodeRed';\n//msg.headers['Accept'] = 'application/json';\n// msg.params = {\"apiKey\":\"YOUR_WEATHER_APIKEY\"};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["4f89b375.032eac"]]},{"id":"d22105f.96b16f8","type":"http request","z":"fa07a2ce.b11aa","name":"API OpenWeatherMap","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/onecall?lat={{{lat}}}&lon={{{lon}}}&units=metric&exclude=hourly,daily,minutely&appid=<APPID>","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":420,"wires":[["3fe25acd.91f276","ebfb4af2.b9f6f8"]]},{"id":"fd941cb8.baa17","type":"change","z":"fa07a2ce.b11aa","name":"set lat/lon","rules":[{"t":"set","p":"lat","pt":"msg","to":"payload[0].lat","tot":"msg"},{"t":"set","p":"lon","pt":"msg","to":"payload[0].lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":300,"wires":[["c91dfe6f.6c03f"]]},{"id":"671d678d.10cc18","type":"change","z":"fa07a2ce.b11aa","name":"set lat/lon","rules":[{"t":"set","p":"lat","pt":"msg","to":"50.9383226","tot":"str"},{"t":"set","p":"lon","pt":"msg","to":"4.0392147","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["c91dfe6f.6c03f"]]},{"id":"e082eef4.372e4","type":"http in","z":"fa07a2ce.b11aa","name":"","url":"/getWeather","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["27f5fa66.0497f6"]]},{"id":"f5e158e5.074378","type":"http response","z":"fa07a2ce.b11aa","name":"","statusCode":"","headers":{},"x":1110,"y":420,"wires":[]},{"id":"27f5fa66.0497f6","type":"function","z":"fa07a2ce.b11aa","name":"Set param","func":"msg.payload = msg.req.query.location;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["1d91b269.c414de","b55c00ce.dc3a9"]]},{"id":"b55c00ce.dc3a9","type":"debug","z":"fa07a2ce.b11aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":240,"wires":[]},{"id":"ebfb4af2.b9f6f8","type":"function","z":"fa07a2ce.b11aa","name":"Select forecast","func":"var temp = parseInt(msg.payload.current.temp);\nmsg.payload = msg.payload.current.weather[0].description + \" with a temperature of \" + temp + \" degrees\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":420,"wires":[["f5e158e5.074378","2627fc4f.8d7cf4"]]}]

